.coloreFooter {
  color: #525431;
  font-size: 0.9em;
  margin-bottom: 2px;
}

.sottolineatoFooter {
  font-size: 0.75em;
  color: #b3aea0;
  text-decoration: underline;
  margin-bottom: 1px;
  cursor: pointer;
}
